form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(67, 125, 250);
    width: fit-content;
}
div{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
input[type=submit]{
    border-style: hidden;
    background-color: rgb(67, 125, 250);
    color:rgb(255, 255, 255);
    font-weight: bold;
}
input[type=text]{
    align-self: center;
    height: 25px;
    width: 630px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.borde{
    border-style: none;
    border-radius: 5px;
}